# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# local mlflow runs
mlruns/
mlflow.db

# PyCharm stuff
.idea

# Environment
.env

# temp stuff
notebooks/Untitled.ipynb
models/model_heads.pth
models/model_v2.pth
